{% extends "base.html" %}
{% block main_gui %}
<style type="text/css">
    body, p {
        font-family: 'Bebas Neue', cursive;
    }

    .h1 {
        font-size: 54px;
        line-height: 100%;
    }
    span {
        font-family: 'Ubuntu', sans-serif;
        font-size: medium;
    }
    table {
        font-family: 'Ubuntu', sans-serif;
        font-size: large;
    }
</style>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="image" required>
                    
                        <input type="submit" value="Login">
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<div class="container pt-5 justify-content-center col-md-8">
    <h1 class="text-center">Iris Recognition System</h1>
    <!-- Button trigger modal -->
    <div class="d-flex justify-content-center">
        <a class="btn btn-sm btn-danger" href="admin/">Register a new profile</a>
        <p class="mx-3">Or If you have a user profile saved.</p>
    <button type="button" class="btn-sm btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Login With Iris Image
    </button>
    </div>
<br /><br/>
    <div class="d-flex justify-content-between">
            
            <br />

            <a class="btn btn-sm btn-primary" href="{% url 'eval' %}">1. Evaluate Image Database</a>
                <form action="{% url 'verify' %}" method="POST"  enctype="multipart/form-data" >
                {% csrf_token %}
                <input type="file" name="image" required>

                <input type="submit" value=" 2. Verify">

                </form>
    </div>
  
            <br />

            {% for each in evaluation_quary %}
            <br />
            <p> Name of Image Database been evaluated: <span> {{each.name}}</span></p>
            <p> Number of Image files: <span>{{each.no_files}}</span></p>
            <p> Execution time: <span>{{each.enrollment_time}}</span></p>
            {% endfor %}
            <br/>

            <p><span> {{ message }}</span></p>
            {% if image_context %}
            <div class="d-flex justify-content-between">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><p>Number of matches found: <span>{{image_context.number_of_results}}</span></p><p> Verification time: <span>{{image_context.verification_time}}</span></p><p> <span>On the right is the image that was verified.<br /> Blow are the matches found.</span></p>
                        </td>
                        <td>
                            <img src="{{ image_context.image_to_verify }}" width="300" height="300">
                        </td>

                    </tr>
                    <tr>
                        <td><p>Results:</p></td>
                    </tr>
                    {% for each in image_context.images %}
                    <tr>
                        <td><p class="align-content-center">{{forloop.counter}}</p></td><td><img src="{{ each }}" width="250" height="250" > </td>
                    </tr>
                    <tr><p><br/><br/></p></tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>

            <a class="btn btn-primary" href="{% url 'home' %}">Go Home to verify another image</a>

            {% endif %}

        {% if profile %}
        <br/>
        <h1> Welcome {{profile.first_name}} {{profile.last_name}}.</h1>
        <table><tr><td>
        <br />
        <p> First name: <span> {{profile.first_name}}</span></p>
        <p> Last name: <span>{{profile.last_name}}</span></p>
        <p> Gender: <span>{{profile.gender}}</span></p>
        <p> Marital Status: <span>{{profile.marital_status}}</span></p>
        <p> Hobbies: <span>{{profile.hobbies}}</span></p>
        <p> About Me: <span>{{profile.about_me}}</span></p>
        </td><td></td></tr></table>
        {% endif %}



            
</div>
            <div class="loader-wrapper">
                <span class="loader"><span class="loader-inner"></span></span>
            </div>
            <script>
                $(window).on("load", function () {
                    $(".loader-wrapper").fadeOut("slow");
                });
                $('#myModal').on('shown.bs.modal', function () {
                        $('#myInput').trigger('focus')
                    })
            </script>
{% endblock main_gui %}